body {
    padding: 10px;
}

.home{
    position: absolute;
    top:60px;
}

.image-builder-container {
    position: relative;
}
.image-builder {
    background: #cacaca;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    min-height: 460px;
    text-align: center;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
}
.image-cover {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}

.fabric-container {
    background: white;
    border-radius: 1px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
    display: inline-block;
    margin: 0px;
    position: relative;
    vertical-align: middle;
    z-index: 0;
}


.image-loading {
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.loading-indicator {
    background: white;
    background-image: url(/images/squareLoader.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin: 300px auto 0;
    height: 160px;
    width: 160px;
}


.object-controls-container {
    position: relative;
}
.object-controls {
    position: absolute;
    z-index: 1;
    background: white;
    left: -250px;
    top: 0px;
    padding: 5px;
    width: 240px;
}

textarea {
    font-size: 12px;
}

.addMenu{
    position:fixed;
    bottom:0;
    right:0;
    padding:10px;
    z-index: 21;
    will-change: top,left;
}

.saveMenu{
    position:fixed;
    top:60px;
    right:0;
    padding:10px;
    z-index: 21;
    will-change: top,right;
}

.btn-round {
    background-color: #d23f31;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 16px;
    color:#ffffff;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.btn-round span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #FFF;
}

.green { background-color: #57A429; }
.blue { background-color: #38818F;}
.orange { background-color: #D28031; }

.btn-round i { margin-top: 25px; margin-left:25px;  }

.saveMenu ul i{margin-top:20px!important; margin-left:20px!important;}

